.App {
  text-align: center;
}
nav ul li{
  display:inline-block;
  margin: 0 10px;
}
.Booklist{
  padding: 20px;
  margin-bottom: 20px;
}
.Booklist ul{
  padding: 0;
  list-style: none;
}
.Booklist li{
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;
}
.Booklist li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}
.Booklist .title{
  font-weight: bold;
  font-size: 1.2em;
}
.Booklist .author{
  font-size: 0.9em;

}
form{
  padding: 20px;
}
input[type='text']{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin:6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
}
input[type='submit']{
  margin:10px auto;
  background: #eee;
  border: 0;
  padding: 6px 20px;
  display: block;
}

.song-list li{
  list-style: none;
}


