.App {
  text-align: center;
}
nav ul li{
  display:inline-block;
  margin: 0 10px;
}
.Booklist{
  padding: 20px;
  margin-bottom: 20px;
}
.Booklist ul{
  padding: 0;
  list-style: none;
}
.Booklist li{
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.song-list li{
  list-style: none;
}